In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"D:\py\ML\14_naive_bayes\titanic.csv")

In [3]:
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [7]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis=1,inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [8]:
target=df.Survived
inputs=df.drop('Survived',axis=1)

In [10]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le=LabelEncoder()
df.Sex=le.fit_transform(df.Sex)

In [13]:
df

     Pclass  Sex   Age     Fare  Survived
0         3    1  22.0   7.2500         0
1         1    0  38.0  71.2833         1
2         3    0  26.0   7.9250         1
3         1    0  35.0  53.1000         1
4         3    1  35.0   8.0500         0
..      ...  ...   ...      ...       ...
886       2    1  27.0  13.0000         0
887       1    0  19.0  30.0000         1
888       3    0   NaN  23.4500         0
889       1    1  26.0  30.0000         1
890       3    1  32.0   7.7500         0

[891 rows x 5 columns]

In [33]:
type(df.Sex)

pandas.core.series.Series

In [14]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [15]:
age_mean=df.Age.mean()

In [16]:
inputs.Age=inputs.Age.fillna(age_mean)

In [18]:
df.head(7)

   Pclass  Sex   Age     Fare  Survived
0       3    1  22.0   7.2500         0
1       1    0  38.0  71.2833         1
2       3    0  26.0   7.9250         1
3       1    0  35.0  53.1000         1
4       3    1  35.0   8.0500         0
5       3    1   NaN   8.4583         0
6       1    1  54.0  51.8625         0

In [19]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [26]:
len(X_train)

712

In [27]:
len(X_test)

179

In [28]:
len(inputs)

891

In [30]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [31]:
model.fit(X_train,y_train)

ValueError: could not convert string to float: 'male'